<% if(errors){ %>
<div id="errorsDiv">
  <% for(let i =0;i!=errors.length;i++){ error=errors[i]; %>
  <div><%=error.msg%></div>
  <% } %>
</div>
<% } %>
<nav>
  <a href="/posts">gaming website</a>
  <form action="/search" method="post" class="search-box">
    <input type="text" />
    <button type="submit">search</button>
  </form>
  <% if(!isLogedIn) { %>
  <a href="/login">Login</a>
  <a href="/signup">Signup</a>

  <% }%> <% if(isLogedIn) { %> <% if(isAdmin) { %>
  <a href="/dashBoard">DashBoard</a>
  <% }%>
  <form action="/logout" method="post">
    <button type="submit">logout</button>
    <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
  </form>
  <a href="/profile/<%=logedUserId%>">profile</a>
  <a href="/newPost">new Post</a>
  <% }%>
</nav>
